{%extends 'base.html'%}

{%block title%} {{room}} - ChatterG {%endblock%}

{%block style%}
<style>
    @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");

    .chat-container {
        height:calc(90vh - 90px);
        overflow-y: auto;

        -ms-overflow-style: none;  
        scrollbar-width: none; 


    }
    .chat-container::-webkit-scrollbar {
      display: none;
    }


    .chat-container {
        background-color: #333;
        border: 1px solid #dbdbdb;
        border-radius: 10px;
        padding: 10px;
    }

    .chat-message {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }

    .chat-avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 10px;
    }

    .chat-avatar-right {
        margin-right: 0;
        margin-left: 10px;

    }

    .chat-name-right {
        float:right;
    }

    .chat-content {
        flex: 1;
        width: 100%;
    }

    .chat-name {
        font-weight: bold;
        margin-bottom: 10px;
        display: flex;
        align-items: bottom;
    }

    .chat-text {
        margin-bottom: 0;
    }

    .chat-bubble {
        max-width: 70%;
        background-color: #444;
        border-radius: 20px;
        /* Updated border-radius to make the bubbles rounder */
        padding: 10px;
        margin-bottom: 10px;
    }

    .chat-bubble-right {
        background-color: #555;
        clear: both;
        float: right;
    }

    .chat-bubble-left {
        background-color: #666;
        clear: both;
        float: left;
    }
    
    .chat-time {
        font-size: 10px;
        color: #aaa;
    }

    .align-left {
        text-align: left;
    }

    .align-right {
        text-align: right;


    }
        
</style>
{%endblock%}
{%block content%}
    <div class="container bg-dark">
        <div class="row justify-content-center">
            <div class=" card mx-auto bg-dark text-light position-absolute top-50 start-50 translate-middle p-0" style='max-width: 1000px'>
            <h3 class="card-header text-light bg-primary">{{room}}</h3>
                <div class="bg-dark border-start border-end border-secondary rounded p-3 rounded-0 chat-container" id='message-container'>
      
                </div>
                <div><form id="post-form">
                    {% csrf_token %}
                            <input type="hidden" name="username" id="username" value="{{username}}">
                            <input type="hidden" name="room_id" id="room_id" value="{{room_details.id}}">
<div class='input-group'>
                            <input type="text" class="form-control rounded-top-0" placeholder="Message..." id='message'
                                aria-label="Recipient's username" aria-describedby="button-addon2">
                            <button class="btn btn-primary rounded-top-0" type="submit" id="button-addon2"><i class="bi bi-caret-up-fill"></i></button>

                   </form>
                </div>
            </div>
        </div>
    </div>

    </div>

{%endblock%}
{%block script%}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script>
  $(document).ready(function () {
    setInterval(function () {
      $.ajax({
        type: "GET",
        url: "get/{{room}}/",
        success: function (response) {
          console.log(response);
          $("#message-container").empty();
          for (var key in response.messages) {
              if (response.messages[key].user == "{{username}}"){
            var temp =
              "<div class='chat-message'><div class='chat-content'><div class='chat-name chat-name-right'>"+response.messages[key].user+"<img src='https://www.w3schools.com/w3images/avatar2.png' alt='Avatar'class='chat-avatar chat-avatar-right'></div><div class='chat-bubble chat-bubble-right'><p class='chat-text'>"+response.messages[key].value+"</p><div class='chat-time align-right'>"+response.messages[key].date+"</div></div></div></div>";
              }
        else{
            var temp = 
              "<div class='chat-message'><div class='chat-content'><div class='chat-name'><img src='https://www.w3schools.com/w3images/avatar3.png' alt='Avatar'class='chat-avatar'>"+response.messages[key].user+"</div><div class='chat-bubble chat-bubble-left'><p class='chat-text'>"+response.messages[key].value+"</p><div class='chat-time align-left'>"+response.messages[key].date+"</div></div></div></div>";
        }
            $("#message-container").append(temp);
          }
        },
        error: function(response){
         //alert('An error occured')
        }
      });
    }, 1000);
  });


  $(document).on("submit", "#post-form", function (e) {
    e.preventDefault();

    $.ajax({
      type: "POST",
      url: "send-message/",
      data: {
        username: $("#username").val(),
        room_id: $("#room_id").val(),
        message: $("#message").val(),
        csrfmiddlewaretoken: $("input[name=csrfmiddlewaretoken]").val(),
      },
      success: function (data) {
        //alert(data);
      },
    });
    document.getElementById("message").value = "";
  });
</script>

{%endblock%}
