{% extends 'base.html' %}
{% block style %}
<style>
    body {
        background-color: #111122;
    }
</style>
{% endblock %}

{% block content %}
<img src='https://as2.ftcdn.net/v2/jpg/01/71/08/79/1000_F_171087954_DGm1leL7rXFtbQ9x2Y5PBXrqAEXndmih.jpg'>
<div class="row justify-content-center">
    <div class="col-sm-4 position-absolute top-50 start-50 translate-middle" style='max-width:400px'>
        <div class="card bg-dark text-light border border-primary">
            <img src="https://as2.ftcdn.net/v2/jpg/01/71/08/79/1000_F_171087954_DGm1leL7rXFtbQ9x2Y5PBXrqAEXndmih.jpg" alt="" class='card-img-top mx-auto my-4' style='width:60%'>
            <div class="card-body">  
                <form method='post' action='../process-login'>
                    {%csrf_token%}

                <div class="form-floating mb-3 text-secondary">
                    <input type="text" class="form-control" id="floatingInput" name='username' placeholder=''>
                    <label for="floatingInput">Name</label>
                </div> 
                <div class="form-floating text-secondary">
                    <input type="text" class="form-control" id="floatingPassword" name="roomname" placeholder=''>
                    <label for="floatingPassword">Room Id</label>
                </div>
            </div>
                <button class='btn btn-primary rounded-top-0' type='submit'>Join</button></form>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}

{%endblock%}